/* Additional composition is helpful here,
as .arrow and .root can't use CSS custom properties
nicely since .arrow is rendered into a Portal. */
.theme {
  --background-color: var(--gray-2);
  --foreground-color: var(--white);
}

.arrow {
  composes: theme;
  position: absolute;

  /* --top and --left are set in JS, to allow
    for dynamic, collision-free positioning. */
  top: var(--top);
  left: var(--left);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--background-color);
}

.box {
  composes: theme;
  composes: g-type-body-small from global;
  font-size: 0.875rem;
  background: var(--background-color);
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
  color: var(--foreground-color);
  padding: 0.5em 1em;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  max-width: 75vw;
  max-width: min(75vw, 20em);
}
