/*
Note: this main CSS file contains
references to CSS custom properties,
which are defined in the adjacent
theme.module.css file.
*/

.root {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: none;

  /* we might expect line-height: 100% to be set in normalize.css,
  but it's not - we seem to have a forked or modified version of normalize.
  for details: https://app.asana.com/0/1100423001970639/1160160189208209/f */
  line-height: 100%;
  transition: transform 0.4s, color 0.2s, background 0.2s, border-color 0.2s;
  text-decoration: none;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  color: var(--text-color);
  border-color: var(--border-color);
  background-color: var(--background-color);

  &:hover:not([disabled]) {
    cursor: pointer;
    border-color: var(--border-color-hovered);
  }

  &.size-small {
    padding: var(--padding-small);
    line-height: 1.4em;
  }

  &.size-medium {
    padding: var(--padding-medium);
  }

  /* Scrim */
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 4px;
    transition: opacity 0.25s ease, background 0.25s ease;

    /*
    -webkit-transform fixes an annoying Safari issue
    where the icon would have 1px transform jank on hover
    due to the opacity transition. We could use will-change
    here, but we only want to target Safari since we'd rather
    avoid the performance penalty in browsers where the
    animation already works.
    */
    -webkit-transform: translateZ(0);
    z-index: 0;
    opacity: 0;
    background: var(--scrim-color);
  }

  /* Scrim on :hover */
  &:hover:not([disabled])::before {
    opacity: var(--scrim-opacity-hovered);
  }

  /* Scrim on :active */
  &:active:not([disabled])::before {
    background: var(--scrim-color-active);
    opacity: var(--scrim-opacity-active);
  }
}

.text {
  composes: g-type-buttons-and-standalone-links from global;
  position: relative;
  z-index: 2;

  &.size-small {
    line-height: inherit;
    font-size: 0.9375rem;
  }
}

.icon {
  display: inline-block;
  position: relative;
  z-index: 2;

  &.at-left {
    margin-right: 12px;
  }

  &.at-right {
    margin-left: 12px;
  }

  & svg {
    display: block;
    overflow: visible;
    & [stroke-width] {
      stroke-width: 1.5;
    }

    & [fill] {
      fill: var(--text-color);
    }
    & [stroke] {
      stroke: var(--text-color);
    }
  }

  /* when button is size-small */
  &.size-small {
    margin-bottom: -3.5px;
    & svg {
      height: 18px;
      width: 18px;
    }
  }

  /* when button is size-medium */
  &.size-medium {
    margin-bottom: -4.5px;
    & svg {
      height: 20px;
      width: 20px;
    }
  }

  &.animation-inbound {
    transition: transform 0.2s;
    transform: translate(0, 0);
    &.isHovered {
      transform: translate(2px, 0);
    }
  }

  &.animation-outbound {
    & :global([data-animation-target]) {
      transition: transform 0.2s;
      transform: translate(0, 0);
    }
    &.isHovered :global([data-animation-target]) {
      transform: translate(2px, -2px);
    }
  }

  &.animation-download {
    & :global([data-animation-target]) {
      transition: transform 0.2s;
      transform: translate(0, 0);
    }
    &.isHovered :global([data-animation-target]) {
      transform: translate(0, 2px);
    }
  }
}
