.root {
  --background: var(--white);
  --text-color-display: var(--gray-1);
  --text-color-body: var(--gray-2);

  background: var(--background);
  padding: 64px 0;

  @media (--medium) {
    padding: 88px 0;
  }
  @media (--large) {
    padding: 128px 0;
  }

  &.theme-gray {
    --background: var(--gray-6);
  }

  &.theme-dark {
    --background: var(--black);
    --text-color-display: var(--white);
    --text-color-body: var(--gray-5);
  }
}

.container {
  composes: g-grid-container from global;
}

.heading {
  composes: g-type-display-2 from global;
  color: var(--text-color-display);
  margin: 0 auto;
  text-align: center;
  max-width: 20em;
}

.content {
  composes: g-type-body-large from global;
  color: var(--text-color-body);
  margin: 0 auto;
  text-align: center;
  max-width: 40em;

  &.hasHeading {
    margin-top: 16px;

    @media (--large) {
      margin-top: 24px;
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /*
    * Margins here account for extra 8px margin on buttons
    * which are needed to center and space properly regardless of whether
    * buttons are wrapping to multiple lines or not.
    */
  margin-top: 24px;
  margin-bottom: -8px;

  @media (--large) {
    margin-top: 32px;
  }
}

.button {
  /* 
    * This ensures 16px between buttons at all times, while maintaining proper centering
    * when buttons wrap to multiple lines.
    * There will be an extra 8px space on all sides of the button group.
    * The top and bottom are accounted for by the -8px adjustment on `.action` margins.
    * The left and right excess is left as is - it's needed for proper centering when wrapping.
    */
  margin: 8px;
}
