/* Note: consumes from theme.module.css, as marked */

.root {
  position: sticky;
  top: -1px;
  z-index: 900;
  background: var(--background-color); /* from theme.module.css */
  border-top: 1px solid var(--border-color); /* from theme.module.css */
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.8s;

  &.isSticky {
    border-bottom-color: var(--border-color); /* from theme.module.css */
  }
}

.subnavInner {
  display: flex;
  align-items: center;
  height: 62px;

  &.notConstrained {
    padding: 0 24px;

    @media (--medium-up) {
      padding: 0 32px;
    }
  }
}
