/*
Theme settings.
Consumed in nearly all CSS files in this component,
including in /partials.
*/

.light {
  /* main */
  --background-color: var(--white);
  --border-color: var(--gray-5);
  --dropdown-background-color: var(--white);
  --dropdown-box-shadow: 0 8px 12px rgba(37, 38, 45, 0.08);

  /* title or logo link */
  --title-text-color: var(--gray-1);

  /* github-stars-link */
  --gh-stars-icon-color: var(--black);
  --gh-stars-scrim-color: rgba(0, 0, 0, 0.1);

  /* menu items */
  --menu-item-text-color: var(--black);
  --menu-item-heading-text-color: var(--gray-3);
}

.dark {
  /* main */
  --background-color: var(--black);
  --border-color: var(--gray-2);
  --dropdown-background-color: var(--gray-1);
  --dropdown-box-shadow: none;

  /* title or logo link */
  --title-text-color: var(--white);

  /* github-stars-link */
  --gh-stars-icon-color: var(--white);
  --gh-stars-scrim-color: rgba(255, 255, 255, 0.15);

  /* menu items */
  --menu-item-text-color: var(--white);
  --menu-item-underline-color: var(--gray-5);
  --menu-item-heading-text-color: var(--gray-4);
}
