.root {
  background: var(--black);
  color: var(--white);
  padding: 128px 0 160px;
  position: relative;
  overflow: hidden;

  @media (max-width: 1119px) {
    padding: 78px 0 104px;
  }

  @media (max-width: 767px) {
    padding: 56px 0 80px;
  }

  &.light {
    background: var(--white);
    color: var(--black);
  }
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.container {
  composes: g-grid-container from global;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1119px) {
    display: block;
    text-align: center;
  }
}

.headline {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 16px);
  max-width: 564px;
  width: 100%;

  @media (max-width: 1119px) {
    max-width: 534px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &:last-child {
    flex-basis: auto;

    @media (min-width: 1120px) {
      max-width: 730px;
    }
  }
}

.headlineLogo {
  margin-bottom: 32px;
  height: 60px;
  display: block;

  @media (max-width: 1119px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.headlineAlert {
  margin-bottom: 24px;

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.headlineTitle {
  composes: g-type-display-1 from global;
  margin: 0;
}

.headlineDescription {
  composes: g-type-body-large from global;
  margin-top: 24px;
  color: var(--gray-5);

  @media (--small) {
    margin-top: 16px;
  }

  & > p {
    margin: 0;

    & + p {
      margin-top: 24px;

      @media (--small) {
        margin-top: 16px;
      }
    }
  }

  &.light {
    color: var(--gray-2);
  }
}

.headlineFormLead {
  margin-top: 40px;
}

.headlineButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 24px -8px 0;

  @media (max-width: 1119px) {
    justify-content: center;
    margin-left: -12px;
    margin-right: -12px;
  }

  @media (max-width: 767px) {
    margin-top: 16px;
  }
}

.headlineButton {
  margin: 16px 8px 0;

  @media (max-width: 1119px) {
    margin-left: 12px;
    margin-right: 12px;
  }

  &.hasZeroPadding {
    margin-left: 24px;
    margin-right: 24px;

    @media (max-width: 1119px) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }
}

.headlineHelpText {
  composes: g-type-buttons-and-standalone-links from global;
  text-decoration: none;
  margin-top: 32px;
  display: inline-block;
  transition: 0.25s ease;
  transition-property: opacity;
  position: relative;

  @media (max-width: 1119px) {
    justify-content: center;
  }

  &:hover {
    opacity: 0.75;
  }

  & div {
    display: inline;
  }

  & p {
    display: inline;
    margin: 0;

    & > a {
      color: inherit;
    }
  }

  & svg {
    margin: 0 0 1px 12px;
    & line {
      stroke: var(--brand);
    }

    & path {
      fill: var(--brand);
    }

    @media (max-width: 1119px) {
      margin-left: 6px;
    }
  }
}

.image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 48px);
  max-width: 816px;
  width: 100%;

  @media (max-width: 1119px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
  }

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }

  & picture,
  & img,
  & svg {
    max-width: 720px;
    width: 100%;
  }

  & img,
  & svg {
    @media (max-width: 1119px) {
      padding: 0 16px;
    }
  }
}
