/* Note: consumes from theme.module.css, as marked */

.root {
  color: var(--menu-item-text-color); /* from theme.module.css */
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: var(--menu-item-underline-color); /* from theme.module.css */
    opacity: 0;
  }

  &.isActive::after {
    opacity: 1;
  }
}
